# .env v1.0 [05.11.25]

# Application
ALLOWED_ORIGINS=http://localhost:3000,https://localhost:3000,https://exchange.dyum.in
NODE_ENV=development
PORT=9090

# Data exchange configuration
CHUNK_SIZE_BYTES=122880
MAX_FILE_SIZE_BYTES=104857600
